In [284]:
import numpy as np
import pandas as pd 
import os
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler,MaxAbsScaler,RobustScaler, QuantileTransformer,PowerTransformer
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, explained_variance_score
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score, KFold
import warnings
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor



# Reset warning filters (optional)
warnings.resetwarnings()
warnings.filterwarnings('ignore')
# Better display the output
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

# Pull the Data, and load

In [54]:
demand_df = pd.read_csv('demand.csv')
fulfilment_df = pd.read_csv('fulfilment_center_info.csv')
meal_df = pd.read_csv('meal_info.csv')

# Create geographic continous features

In [55]:
fulfilment_df['region_center_count'] = fulfilment_df.groupby('region_code')['center_id'].transform('count')
fulfilment_df['city_center_count'] = fulfilment_df.groupby('city_code')['center_id'].transform('count')
fulfilment_df['region_city_count'] = fulfilment_df.groupby('region_code')['city_code'].transform('nunique')

In [56]:
fulfilment_df

,center_id,city_code,region_code,center_type,op_area,region_center_count,city_center_count,region_city_count
0,11,679,56,TYPE_A,3.7,30,1,16
1,13,590,56,TYPE_B,6.7,30,9,16
2,124,590,56,TYPE_C,4.0,30,9,16
3,66,648,34,TYPE_A,4.1,21,1,12
4,94,632,34,TYPE_C,3.6,21,1,12
5,64,553,77,TYPE_A,4.4,17,1,16
6,129,593,77,TYPE_A,3.9,17,2,16
7,139,693,34,TYPE_C,2.8,21,1,12
8,88,526,34,TYPE_A,4.1,21,8,12
9,143,562,77,TYPE_B,3.8,17,1,16
10,101,699,85,TYPE_C,2.8,5,2,3
11,86,699,85,TYPE_C,4.0,5,2,3
12,32,526,34,TYPE_A,3.8,21,8,12
13,149,478,77,TYPE_A,2.4,17,1,16
14,152,576,34,TYPE_B,4.0,21,2,12
15,92,526,34,TYPE_C,2.9,21,8,12
16,27,713,85,TYPE_A,4.5,5,1,3
17,14,654,56,TYPE_C,2.7,30,1,16
18,26,515,77,TYPE_C,3.0,17,1,16
19,104,647,56,TYPE_A,4.5,30,2,16
20,77,676,34,TYPE_A,3.8,21,2,12
21,23,698,23,TYPE_A,3.4,1,1,1
22,97,628,77,TYPE_A,4.6,17,1,16
23,146,526,34,TYPE_B,5.0,21,8,12
24,113,680,77,TYPE_C,4.0,17,1,16
25,145,620,77,TYPE_A,3.9,17,1,16
26,80,604,56,TYPE_C,5.1,30,2,16
27,55,647,56,TYPE_C,2.0,30,2,16
28,186,649,34,TYPE_A,3.4,21,1,12
29,99,596,71,TYPE_A,4.5,1,1,1
30,91,590,56,TYPE_C,0.9,30,9,16
31,20,522,56,TYPE_A,4.0,30,2,16
32,106,675,34,TYPE_A,4.0,21,1,12
33,81,526,34,TYPE_A,4.0,21,8,12
34,73,576,34,TYPE_A,4.0,21,2,12
35,29,526,34,TYPE_C,4.0,21,8,12
36,43,590,56,TYPE_A,5.1,30,9,16
37,102,593,77,TYPE_A,2.8,17,2,16
38,61,473,77,TYPE_A,4.5,17,1,16
39,50,556,77,TYPE_A,4.8,17,1,16
40,83,659,77,TYPE_A,5.3,17,1,16
41,57,541,77,TYPE_C,2.8,17,1,16
42,126,577,56,TYPE_A,2.7,30,1,16
43,177,683,56,TYPE_A,3.4,30,1,16
44,67,638,56,TYPE_B,7.0,30,3,16
45,174,700,56,TYPE_A,7.0,30,1,16
46,59,456,56,TYPE_A,4.2,30,1,16
47,58,695,77,TYPE_C,3.8,17,1,16
48,65,602,34,TYPE_A,4.8,21,1,12
49,39,526,34,TYPE_C,3.8,21,8,12
50,132,522,56,TYPE_A,3.9,30,2,16
51,89,703,56,TYPE_A,4.8,30,1,16
52,162,526,34,TYPE_C,2.0,21,8,12
53,75,651,77,TYPE_B,4.7,17,1,16
54,72,638,56,TYPE_C,3.9,30,3,16
55,41,590,56,TYPE_C,1.9,30,9,16
56,10,590,56,TYPE_B,6.3,30,9,16
57,110,485,77,TYPE_A,3.8,17,1,16
58,52,685,56,TYPE_B,5.6,30,1,16
59,93,461,34,TYPE_A,3.9,21,1,12
60,74,702,35,TYPE_A,2.8,1,1,1
61,34,615,34,TYPE_B,4.2,21,1,12
62,137,590,56,TYPE_A,4.4,30,9,16
63,153,590,56,TYPE_A,3.9,30,9,16
64,24,614,85,TYPE_B,3.6,5,2,3
65,109,599,56,TYPE_A,3.6,30,1,16
66,108,579,56,TYPE_B,4.4,30,1,16
67,36,517,56,TYPE_B,4.4,30,2,16
68,157,609,93,TYPE_A,4.1,1,1,1
69,17,517,56,TYPE_A,3.2,30,2,16
70,161,658,34,TYPE_B,3.9,21,1,12
71,42,561,77,TYPE_B,3.9,17,1,16
72,53,590,56,TYPE_A,3.8,30,9,16
73,30,604,56,TYPE_A,3.5,30,2,16
74,76,614,85,TYPE_A,3.0,5,2,3
75,68,676,34,TYPE_B,4.1,21,2,12
76,51,638,56,TYPE_A,7.0,30,3,16

# Create the final data

In [57]:
combined_df = pd.merge(demand_df, fulfilment_df, on='center_id', how='left')
combined_df = pd.merge(combined_df, meal_df,  on='meal_id', how='left')

In [58]:
combined_df.groupby(['meal_id','center_id'])

In [59]:
combined_df

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,region_center_count,city_center_count,region_city_count,category,cuisine
0,1379560,1,55,1885,136.83,152.29,0,0,177,647,56,TYPE_C,2.0,30,2,16,Beverages,Thai
1,1466964,1,55,1993,136.83,135.83,0,0,270,647,56,TYPE_C,2.0,30,2,16,Beverages,Thai
2,1346989,1,55,2539,134.86,135.86,0,0,189,647,56,TYPE_C,2.0,30,2,16,Beverages,Thai
3,1338232,1,55,2139,339.50,437.53,0,0,54,647,56,TYPE_C,2.0,30,2,16,Beverages,Indian
4,1448490,1,55,2631,243.50,242.50,0,0,40,647,56,TYPE_C,2.0,30,2,16,Beverages,Indian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,1271326,145,61,1543,484.09,484.09,0,0,68,473,77,TYPE_A,4.5,17,1,16,Desert,Indian
456544,1062036,145,61,2304,482.09,482.09,0,0,42,473,77,TYPE_A,4.5,17,1,16,Desert,Indian
456545,1110849,145,61,2664,237.68,321.07,0,0,501,473,77,TYPE_A,4.5,17,1,16,Salad,Italian
456546,1147725,145,61,2569,243.50,313.34,0,0,729,473,77,TYPE_A,4.5,17,1,16,Salad,Italian
456547,1361984,145,61,2490,292.03,290.03,0,0,162,473,77,TYPE_A,4.5,17,1,16,Salad,Italian

In [121]:
# First, ensure your data is sorted by 'id' and 'week'
combined_df = combined_df.sort_values(by=['center_id','meal_id', 'week'])

In [122]:
combined_df

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,region_center_count,city_center_count,region_city_count,category,cuisine
2370,1436842,1,10,1062,181.39,181.39,0,0,865,590,56,TYPE_B,6.3,30,9,16,Beverages,Italian
5273,1205013,2,10,1062,183.36,182.36,0,0,782,590,56,TYPE_B,6.3,30,9,16,Beverages,Italian
8175,1447751,3,10,1062,184.36,182.36,0,0,851,590,56,TYPE_B,6.3,30,9,16,Beverages,Italian
11064,1014968,4,10,1062,182.36,183.36,0,0,1202,590,56,TYPE_B,6.3,30,9,16,Beverages,Italian
13918,1003563,5,10,1062,183.39,181.39,0,0,958,590,56,TYPE_B,6.3,30,9,16,Beverages,Italian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345410,1255251,112,186,2956,583.03,581.03,0,0,82,649,34,TYPE_A,3.4,21,1,12,Fish,Continental
348601,1436164,113,186,2956,583.03,582.03,0,0,40,649,34,TYPE_A,3.4,21,1,12,Fish,Continental
351905,1000576,114,186,2956,583.03,581.03,0,0,27,649,34,TYPE_A,3.4,21,1,12,Fish,Continental
355206,1429037,115,186,2956,581.03,583.03,0,0,15,649,34,TYPE_A,3.4,21,1,12,Fish,Continental
358495,1285049,116,186,2956,292.03,582.03,0,0,122,649,34,TYPE_A,3.4,21,1,12,Fish,Continental

In [123]:
combined_df['price_difference'] = combined_df['checkout_price'] - combined_df['base_price']

In [263]:
remove_when_split_of = {
    'meal_id': ['region_code','city_code','center_id'],
    'region_code' : ['city_code','center_id','meal_id'],
    'city_code' : ['region_code','center_id','meal_id'],
    'center_id': ['region_code','city_code','meal_id'],
    None: ['region_code','city_code','center_id','meal_id'],
    'category': ['region_code','city_code','center_id','meal_id'],
    'cuisine': ['region_code','city_code','center_id','meal_id'],
    'center_type' : ['region_code','city_code','center_id','meal_id']
                       }

In [190]:
def create_backtrack_columns(df, backwards_weeks: list, features_to_collect_backwards = ['num_orders']):
    for prev_week in backwards_weeks:
        if prev_week == 0:
            continue
            
        for feature_to_collect in features_to_collect_backwards:
            df[f'previous_week{prev_week}_{feature_to_collect}'] = df.groupby('meal_id')[feature_to_collect].shift(prev_week)
    return df

In [191]:
def dummyfy(df, to_dummy=None):
    if not to_dummy:
        to_dummy = ['category','cuisine','center_type']
    dummy_dfs = []
    for column in to_dummy:
        dummy_df = pd.get_dummies(df[column], prefix=column)
        dummy_dfs.append(dummy_df)

    # Concatenate the original DataFrame with the dummy-encoded DataFrames
    df = pd.concat([df] + dummy_dfs, axis=1)

    # Drop the original columns if desired
    df = df.drop(to_dummy, axis=1)
    
    
    return df

In [192]:
max(list(range(1,6)))

5

In [261]:
def prepare_df(df, split_value, columns_to_drop, list_of_weeks_to_backtrack = list(range(1,6)), features_to_backtrack =  ['num_orders']):
    to_dummy = ['category','cuisine','center_type']
    cols_to_drop = ['id','week'] + columns_to_drop
   
    if split_value in to_dummy:
        to_dummy.remove(split_value)
        
    df = dummyfy(df,to_dummy)
    df = create_backtrack_columns(df, list_of_weeks_to_backtrack, features_to_backtrack)
    
    # drops al Na for products that are in their intial weeks of selling
    df = df.dropna()

    ### split
    if not split_value:
        df = df.drop(columns = cols_to_drop)
        return [df]
    
    list_of_dfs = []  # empty list to hold dataframes
    for category, group_df in df.groupby(split_value):
        group_df = group_df.drop(columns = cols_to_drop)
        list_of_dfs.append(group_df)

    return list_of_dfs

In [245]:
def run_a_k_fold_model_test(X, y, model):
    k = 5

    # Initialize a KFold object
    kf = KFold(n_splits=k, random_state=42, shuffle=True)
    
    types_of_scalars = [RobustScaler, QuantileTransformer, MinMaxScaler]
    roi_d = {}
    for scale in types_of_scalars:
        print(f'####RUNNING k-fold TEST ON {scale.__name__}######')
        X_scaled = scale().fit_transform(X)
        X_scaled = pd.DataFrame(X_scaled, columns=X.columns)   

        MAE = 0
        MSE = 0
        r2 = 0
        for train_index, test_index in kf.split(X_scaled):
            X_train, X_test = X_scaled.iloc[train_index], X_scaled.iloc[test_index]
            y_train, y_test = y.iloc[train_index], y.iloc[test_index]

            
            model_kf = model()
            model_kf.fit(X_train, y_train)
            y_pred = model_kf.predict(X_test)
            r2 += r2_score(y_test,y_pred)
            MAE += mean_absolute_error(y_test,y_pred)
            MSE += mean_squared_error(y_test,y_pred)
            

        
        print("r^2: ", r2/k, " MSE: ", MSE/k, " MAE: ", MAE/k)
        
    return r2/k, MSE/k, MAE/k

In [280]:
def run_a_model_test(X, y, model, scalar=RobustScaler):
    # Split the data
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Initialize a scaler
    scaler = scalar()

    # Scale the data
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)

    # model must be Initialized in function call to fit the model
    model.fit(X_train, y_train)

    # Make predictions
    y_pred = model.predict(X_test)

    # Calculate metrics
    r2 = r2_score(y_test, y_pred)
    MAE = mean_absolute_error(y_test, y_pred)
    MSE = mean_squared_error(y_test, y_pred)

    # Return the metrics
    return r2, MAE, MSE, y_pred

In [264]:
remove_when_split_of # testing combinations

{'meal_id': ['region_code', 'city_code', 'center_id'],
 'region_code': ['city_code', 'center_id', 'meal_id'],
 'city_code': ['region_code', 'center_id', 'meal_id'],
 'center_id': ['region_code', 'city_code', 'meal_id'],
 None: ['region_code', 'city_code', 'center_id', 'meal_id'],
 'category': ['region_code', 'city_code', 'center_id', 'meal_id'],
 'cuisine': ['region_code', 'city_code', 'center_id', 'meal_id'],
 'center_type': ['region_code', 'city_code', 'center_id', 'meal_id']}

# Running a single test

In [210]:
remove_when_split_of[None]

['region_code', 'city_code', 'center_id', 'meal_id']

In [211]:
entire_df = prepare_df(combined_df,None, remove_when_split_of[None])
entire_df = entire_df[0]

In [159]:
X, FINAL_TEST_X, Y, FINAL_TEST_y = train_test_split(entire_df, entire_df['num_orders'], test_size=0.2, random_state=42)
X = X.drop(columns = 'num_orders')

In [162]:
r2, MSE, MAE = run_a_model_test(X,Y,LinearRegression)

####RUNNING k-fold TEST ON RobustScaler######
r^2:  0.6128890919396032  MSE:  61460.01574341451  MAE:  111.77147922395434
####RUNNING k-fold TEST ON QuantileTransformer######
r^2:  0.48542137816844305  MSE:  81696.45204541992  MAE:  149.08650840703686
####RUNNING k-fold TEST ON MinMaxScaler######
r^2:  0.6128834592943948  MSE:  61460.82462593942  MAE:  111.80986837825358

In [169]:
np.mean([1,2,3,4])

2.5

In [296]:
models = [LinearRegression(),AdaBoostRegressor(n_estimators=500, learning_rate=1, loss='linear',random_state=42),RandomForestRegressor(n_estimators=100, random_state=42)]

In [290]:
type(models[0]).__name__

'LinearRegression'

In [297]:
# for col_to_split, cols_to_remove in remove_when_split_of.items():
split_on = 'meal_id'
df_lists = prepare_df(combined_df,split_on, remove_when_split_of[split_on])
results = {}

for model in models:
    list_r2, list_MAE, list_MSE = [],[],[] 
    print(f'testing {type(model).__name__}')
    for subset_df in df_lists:
        individual_results = {}
        individual_results['length'] = len(subset_df)
        subset_name =  subset_df[split_on].unique()

        subset_df = subset_df.drop(columns = split_on)
        X, FINAL_TEST_X, Y, FINAL_TEST_y = train_test_split(subset_df, subset_df['num_orders'], test_size=0.2, random_state=42)
        X = X.drop(columns = 'num_orders')
        r2, MAE, MSE, y_pred = run_a_model_test(X,Y, model)

        individual_results['r2'] = r2
        individual_results['MAE'] = MAE
        individual_results['MSE'] = MSE 

        list_r2.append(r2)
        list_MAE.append(MAE)
        list_MSE.append(MSE)
        results[f"{type(model).__name__}_{subset_name[0]}"] = individual_results
    
    print(f'the split on {split_on} scored: av_R2 {np.mean(list_r2)}, av_mse {np.mean(list_MSE)},av_mAE {np.mean(list_MAE)} ')

testing LinearRegression
the split on meal_id scored: av_R2 0.5913099606384282, av_mse 36629.51297803767,av_mAE 79.8602339190132
testing AdaBoostRegressor
the split on meal_id scored: av_R2 0.04831714263287041, av_mse 113860.30479422618,av_mAE 191.60885374797948
testing RandomForestRegressor
the split on meal_id scored: av_R2 0.6604697627861844, av_mse 23156.255344746827,av_mAE 67.04690937514869

In [252]:
# for col_to_split, cols_to_remove in remove_when_split_of.items():
split_on = 'center_id'
df_lists = prepare_df(combined_df,split_on, remove_when_split_of[split_on])
list_r2, list_MAE, list_MSE = [],[],[] 
for subset_df in df_lists:
    individual_results = {}
    individual_results['length'] = len(subset_df)
    subset_name =  subset_df[split_on].unique()
    
    subset_df.drop(columns = split_on)
    X, FINAL_TEST_X, Y, FINAL_TEST_y = train_test_split(subset_df, subset_df['num_orders'], test_size=0.2, random_state=42)
    X = X.drop(columns = 'num_orders')
    r2, MAE, MSE, y_pred = run_a_model_test(X,Y, LinearRegression)
    
    individual_results['r2'] = r2
    individual_results['MAE'] = MAE
    individual_results['MSE'] = MSE 
    
    list_r2.append(r2)
    list_MAE.append(MAE)
    list_MSE.append(MSE)
    results[subset_name[0]] = individual_results
    
print(f'the split on {split_on} scored: av_R2 {np.mean(list_r2)}, av_mse {np.mean(list_MSE)},av_mAE {np.mean(list_MAE)} ')

the split on center_id scored: av_R2 0.6059234917132832, av_mse 48750.76733202518,av_mAE 102.92648961187535

In [270]:
# for col_to_split, cols_to_remove in remove_when_split_of.items():
split_on = 'region_code'
df_lists = prepare_df(combined_df,split_on, remove_when_split_of[split_on])
list_r2, list_MAE, list_MSE = [],[],[] 
for subset_df in df_lists:
    individual_results = {}
    individual_results['length'] = len(subset_df)
    subset_name =  subset_df[split_on].unique()
    
    subset_df = subset_df.drop(columns = split_on)
    X, FINAL_TEST_X, Y, FINAL_TEST_y = train_test_split(subset_df, subset_df['num_orders'], test_size=0.2, random_state=42)
    X = X.drop(columns = 'num_orders')
    r2, MAE, MSE, y_pred = run_a_model_test(X,Y, LinearRegression)
    
    individual_results['r2'] = r2
    individual_results['MAE'] = MAE
    individual_results['MSE'] = MSE 
    
    list_r2.append(r2)
    list_MAE.append(MAE)
    list_MSE.append(MSE)
    results[subset_name[0]] = individual_results
    
print(f'the split on {split_on} scored: av_R2 {np.mean(list_r2)}, av_mse {np.mean(list_MSE)},av_mAE {np.mean(list_MAE)} ')

the split on region_code scored: av_R2 0.5962495686315386, av_mse 66069.01148690349,av_mAE 108.4534043732385

In [271]:
# for col_to_split, cols_to_remove in remove_when_split_of.items():
split_on = 'city_code'
df_lists = prepare_df(combined_df,split_on, remove_when_split_of[split_on])
list_r2, list_MAE, list_MSE = [],[],[] 
for subset_df in df_lists:
    individual_results = {}
    individual_results['length'] = len(subset_df)
    subset_name =  subset_df[split_on].unique()
    
    subset_df = subset_df.drop(columns = split_on)
    X, FINAL_TEST_X, Y, FINAL_TEST_y = train_test_split(subset_df, subset_df['num_orders'], test_size=0.2, random_state=42)
    X = X.drop(columns = 'num_orders')
    r2, MAE, MSE, y_pred = run_a_model_test(X,Y, LinearRegression)
    
    individual_results['r2'] = r2
    individual_results['MAE'] = MAE
    individual_results['MSE'] = MSE 
    
    list_r2.append(r2)
    list_MAE.append(MAE)
    list_MSE.append(MSE)
    results[subset_name[0]] = individual_results
    
print(f'the split on {split_on} scored: av_R2 {np.mean(list_r2)}, av_mse {np.mean(list_MSE)},av_mAE {np.mean(list_MAE)} ')

the split on city_code scored: av_R2 0.6092945137032056, av_mse 46139.41415823356,av_mAE 101.03885076590454

In [258]:
# for col_to_split, cols_to_remove in remove_when_split_of.items():
split_on = None
df_lists = prepare_df(combined_df,split_on, remove_when_split_of[split_on])
list_r2, list_MAE, list_MSE = [],[],[] 
for subset_df in df_lists:
    individual_results = {}
    individual_results['length'] = len(subset_df)
    subset_name =  None
    
    X, FINAL_TEST_X, Y, FINAL_TEST_y = train_test_split(subset_df, subset_df['num_orders'], test_size=0.2, random_state=42)
    X = X.drop(columns = 'num_orders')
    r2, MAE, MSE, y_pred = run_a_model_test(X,Y, LinearRegression)
    
    individual_results['r2'] = r2
    individual_results['MAE'] = MAE
    individual_results['MSE'] = MSE 
    
    list_r2.append(r2)
    list_MAE.append(MAE)
    list_MSE.append(MSE)
    results[None] = individual_results
    
print(f'the split on {split_on} scored: av_R2 {np.mean(list_r2)}, av_mse {np.mean(list_MSE)},av_mAE {np.mean(list_MAE)} ')

the split on None scored: av_R2 0.6087406200157548, av_mse 59831.40986484164,av_mAE 112.5201043369022

In [273]:
# for col_to_split, cols_to_remove in remove_when_split_of.items():
split_on = 'category'
df_lists = prepare_df(combined_df,split_on, remove_when_split_of[split_on])
list_r2, list_MAE, list_MSE = [],[],[] 
for subset_df in df_lists:
    individual_results = {}
    individual_results['length'] = len(subset_df)
    subset_name =  subset_df[split_on].unique()
    
    subset_df = subset_df.drop(columns = split_on)
    X, FINAL_TEST_X, Y, FINAL_TEST_y = train_test_split(subset_df, subset_df['num_orders'], test_size=0.2, random_state=42)
    X = X.drop(columns = 'num_orders')
    r2, MAE, MSE, y_pred = run_a_model_test(X,Y, LinearRegression)
    
    individual_results['r2'] = r2
    individual_results['MAE'] = MAE
    individual_results['MSE'] = MSE 
    
    list_r2.append(r2)
    list_MAE.append(MAE)
    list_MSE.append(MSE)
    results[subset_name[0]] = individual_results
    
print(f'the split on {split_on} scored: av_R2 {np.mean(list_r2)}, av_mse {np.mean(list_MSE)},av_mAE {np.mean(list_MAE)} ')

the split on category scored: av_R2 0.5870097961215555, av_mse 41600.128423070695,av_mAE 83.48017486023903

In [274]:
# for col_to_split, cols_to_remove in remove_when_split_of.items():
split_on = 'cuisine'
df_lists = prepare_df(combined_df,split_on, remove_when_split_of[split_on])
list_r2, list_MAE, list_MSE = [],[],[] 
for subset_df in df_lists:
    individual_results = {}
    individual_results['length'] = len(subset_df)
    subset_name =  subset_df[split_on].unique()
    
    subset_df = subset_df.drop(columns = split_on)
    X, FINAL_TEST_X, Y, FINAL_TEST_y = train_test_split(subset_df, subset_df['num_orders'], test_size=0.2, random_state=42)
    X = X.drop(columns = 'num_orders')
    r2, MAE, MSE, y_pred = run_a_model_test(X,Y, LinearRegression)
    
    individual_results['r2'] = r2
    individual_results['MAE'] = MAE
    individual_results['MSE'] = MSE 
    
    list_r2.append(r2)
    list_MAE.append(MAE)
    list_MSE.append(MSE)
    results[subset_name[0]] = individual_results
    
print(f'the split on {split_on} scored: av_R2 {np.mean(list_r2)}, av_mse {np.mean(list_MSE)},av_mAE {np.mean(list_MAE)} ')

the split on cuisine scored: av_R2 0.6662082384280021, av_mse 47155.97144654196,av_mAE 105.9801776585411

In [279]:
# for col_to_split, cols_to_remove in remove_when_split_of.items():
split_on = 'center_type'
df_lists = prepare_df(combined_df,split_on, remove_when_split_of[split_on])
list_r2, list_MAE, list_MSE = [],[],[] 
for subset_df in df_lists:
    individual_results = {}
    individual_results['length'] = len(subset_df)
    subset_name =  subset_df[split_on].unique()
    
    subset_df = subset_df.drop(columns = split_on)
    X, FINAL_TEST_X, Y, FINAL_TEST_y = train_test_split(subset_df, subset_df['num_orders'], test_size=0.2, random_state=42)
    X = X.drop(columns = 'num_orders')
    r2, MAE, MSE, y_pred = run_a_model_test(X,Y, LinearRegression)
    
    individual_results['r2'] = r2
    individual_results['MAE'] = MAE
    individual_results['MSE'] = MSE 
    
    list_r2.append(r2)
    list_MAE.append(MAE)
    list_MSE.append(MSE)
    results[subset_name[0]] = individual_results
    
print(f'the split on {split_on} scored: av_R2 {np.mean(list_r2)}, av_mse {np.mean(list_MSE)},av_mAE {np.mean(list_MAE)} ')

the split on center_type scored: av_R2 0.601460552909284, av_mse 59317.32626252738,av_mAE 109.6940118960812